body {
  background-color: #9c6f44;
  background-repeat: repeat;
}

p {
  color: #271300;
}

h1 {
  color: #271300;
}

.box {
  border: 1px solid black;
  border-radius: 10px;
  padding: 1rem 1.5rem;
  background-color: rgb(0 0 0 / 0.5);
  color: white;
}
